<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View Lends</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Lends List</h1>
  <a href="/viewUsers" class="btn btn-success mb-3">View Users</a>
  <a href="/viewBook" class="btn btn-danger mb-3">View Books</a>


  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Lend ID</th>
      <th>User Name</th>
      <th>Book Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lend : ${lends}">
      <td th:text="${lend.lendId}"></td>
      <td th:text="${lend.user.userName}"></td>
      <td th:text="${lend.book.name}"></td>
      <td th:text="${lend.startDate}"></td>
      <td th:text="${lend.endDate}"></td>
      <td>
        <a th:href="@{/deleteLend/{lendId}(lendId=${lend.lendId})}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a href="/addLend" class="btn btn-primary mb-3">Add Lend</a>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
